.main {
    min-height: 200vh;
    display: block;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 50px 5%;
    position: relative;
  
    .title{
        height: fit-content;
        margin-top: 75px;
    }

    .maininfo{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .pp{

            display: flex;
            text-align: center;
            
            width: 150px;
            height: 150px;
            
            .avatar {
                width: 150px;
                height: 150px;
                border-radius: 50%;

                position: absolute;
                z-index: 0;

                margin-right: 100px;
            }

            .ppbuttons {
                z-index: 1;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #00000070;

                border-radius: 50%;
                color: #ffffff;

                width: 150px;

                .editbutton {
                    width: auto;
                    height: auto;
                }

                .editImage {
                    width: 50px;
                    height: 50px;
                    
                    opacity: 0.5;
                }

                .editImage:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        .infos {
            display: flex;
            flex-direction: column;
            margin-left: 100px;
            width: auto;
            height: 100%;

            .inputGroup{
                display: flex;
            }

            .input {
                margin-top: 15px;
                height: 40px;
                width: 500px;

                border: #ffffffff solid 2px;
                border-radius: 10px;
                background-color: #00000000;

                color: #ffffff;
                text-decoration: none;

                outline: none;
                padding-left: 10px;
            }

            ::placeholder {
                color: #ffffffA0
            }
        }
    }

    .socials {
        margin-top: 100px;

        .input {
            margin-top: 15px;
            margin-right: 40px;
            height: 40px;
            width: 450px;

            border: #ffffffff solid 2px;
            border-radius: 10px;
            background-color: #00000000;

            color: #ffffff;
            text-decoration: none;

            outline: none;
            padding-left: 10px;
        }

        ::placeholder {
            color: #ffffffA0
        }
    }

    .more {
        margin-top: 75px;
        display: block;

        .input {
            margin-top: 10px;
            margin-right: 20px;
            height: 40px;
            width: 450px;

            border: #ffffffff solid 2px;
            border-radius: 10px;
            background-color: #00000000;

            color: #ffffff;
            text-decoration: none;

            outline: none;
            padding-left: 30px;
        }

        ::placeholder {
            color: #ffffffA0
        }

        .inputArea{
            margin-top: 20px;
            margin-right: 20px;
            height: 150px;
            width: 800px;

            border: #ffffffff solid 2px;
            border-radius: 10px;
            background-color: #00000000;

            color: #ffffff;
            text-decoration: none;

            outline: none;
            padding-left: 10px;
            padding-top: 10px;
        }

        .flameIcon{
            width: 25px;
            height: 25px;
            margin-right: -30px;
            margin-bottom: -10px;
        }
    }

    .subtitle{
        margin-top: 100px;
        
        font-family: Poppins;
        color: #ffffff;
        font-size: 80px;
    }

    .activities {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100%;
        align-items: center;
        text-align: left;

        .container {
            text-align: left;
            display: block;
            justify-content: left;
        }


        .activitiesSubtitle{
            font-family: Poppins;
            color: #ffffff;
            font-size: 25px;
            font-weight: 10;

            text-align: left;
        }

        svg {
            color: currentColor;
        }
    }

    .workfor {

        margin-top: 20px;
        
        .container {
            margin-top: 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            .input {
                height: 40px;
                width: 450px;
    
                border: #ffffffff solid 2px;
                border-radius: 10px;
                background-color: #00000000;
    
                color: #ffffff;
                text-decoration: none;
    
                outline: none;
                padding-left: 10px;

                margin-left: 10px;
            }

            .tag {
                display: flex;
                justify-content: left;
                padding: 5px 10px;
                margin-right: 10px;

                border-radius: 10px;

                width: 450px;
                height: 40px;

                .tagLabel {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    
                    width: 100%;

                    h2 {
                        color: #ffffff;
                    }

                }
            }

            .tagIcon {
                display: flex;
                justify-content: left;
                align-items: center;
                text-align: left;

                width: 40px;
            }
        }
    }

    .langages {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100%;
        align-items: center;
        text-align: left;

        .container {
            text-align: left;
            display: block;
            justify-content: left;
        }


        .langagesSubtitle{
            font-family: Poppins;
            color: #ffffff;
            font-size: 25px;
            font-weight: 10;

            text-align: left;
        }
    }

    .softwares {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100%;
        align-items: center;
        text-align: left;

        .container {
            text-align: left;
            display: block;
            justify-content: left;
        }


        .softwaresSubtitle{
            font-family: Poppins;
            color: #ffffff;
            font-size: 25px;
            font-weight: 10;

            text-align: left;
        }
    }
}
  